body {
  background-color: #D4E7F3;
  font-family: Arial,sans-serif;
  text-align: center;
  margin: 0;
}
div.block {
}
div.bar {
  height: 37px;
  background-color: #000000;
}
div.loginBox {
  color: #9AB8E4;
  font-weight: bold;
  height: 31px;
  float: right;
  margin-right: 10%;
  margin-top: 2px;
}
span.login {
  padding-left: 5px;
}
div.loginDropdown {
  float: left;
}
div.main {
  background-color: #C6E2FF;
  margin: 0 auto;
  width: 1000px;
}
div.videobar {
  width: 80%;
  height: 200px;
  background-color: #DBDBDB;
  margin: 30px auto;
  border: 2px solid #B8CCFF;
}
#searchContainer {
  padding: 20px 0;
}
.hidden {
  display: none;
}
.flowplayer {
	width: 50% !important;
}
.flowplayer a {
  display: none !important;
}
