body {
  background-color: #D4E7F3;
  font-family: Arial,sans-serif;
  text-align: center;
  margin: 0;
}
div.block {
}
div.bar {
  height: 37px;
  background-color: #000000;
}
div.loginBox {
  color: #9AB8E4;
  font-weight: bold;
  height: 31px;
  float: right;
  margin-right: 10%;
  margin-top: 2px;
}
span.login {
  padding-left: 5px;
}
div.loginDropdown {
  float: left;
}
div.main {
  background-color: #C6E2FF;
  margin: 0 auto;
  width: 1000px;
}
img.thumbnail {
  float: left;
  height: 120px;
  width: 160px;
  padding: 5px;
  padding-top: 30px;
}
div.videobar {
  width: 85%;
  height: 200px;
  background-color: #DBDBDB;
<<<<<<< HEAD
  margin: 30px auto;
=======
>>>>>>> master
  border: 2px solid #B8CCFF;
  margin: 0 auto;
}
div.videocontainer {
  width: 92%;
  height: 240px;
  margin: 0 auto;
}
img.thumbnailLarge {
    padding: 20px;
    width: 300;
    height: 208;
}
img.thumbnailSmall {
    width: 200;
    height: 108;
}
span.videobartitle {
  position: relative;
  right: 35%;
  font-size: 17pt;
}
table.profileTable {
    width: 100%;
}
tr.profileRow {
  width: 100%;
  height: 188px;
}
td.profileColDesc {
    padding: 30px;
    width: 100%;
    height: 100%;
}
#searchContainer {
  padding: 20px 0;
}
.hidden {
  display: none;
}
.flowplayer {
	width: 50% !important;
}
.flowplayer a {
  display: none !important;
}
