body {
  background-color: #D4E7F3;
  font-family: Arial,sans-serif;
  text-align: center;
}
div.block {
}
div.bar {
  position: fixed;
  height: 37px;
  left: 0;
  right: 0;
  top: 0;
  background-color: #000000;
}
div.loginBox {
  color: #9AB8E4;
  font-weight: bold;
  display: inline-block;
  height: 31px;
  width: 200px;
  line-height: 29px;
  position: relative;
  top: 5px;
  left: 30%;
  vertical-align: top;
}
span.login {
  padding-left: 5px;
}
div.loginDropdown {
  float: left;
}
div.main {
  background-color: #C6E2FF;
  border: 2px solid transparent;
  border-left-color: #B8CCFF;
  border-right-color: #B8CCFF;
  width: 1100px;
  height: 100%;
  margin: 0 auto;
}
img.thumbnail {
  float: left;
  height: 120px;
  width: 160px;
  padding: 5px;
  padding-top: 30px;
}
div.videobar {
  width: 85%;
  height: 200px;
  background-color: #DBDBDB;
  border: 2px solid #B8CCFF;
  margin: 0 auto;
}
div.videocontainer {
  width: 92%;
  height: 240px;
  margin: 0 auto;
}
span.videobartitle {
  position: relative;
  right: 35%;
  font-size: 17pt;
}
.hidden {
  display: none;
}
